{% extends 'product_temp/base_ecomm.html' %} {% block start %}
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-7">
        <div class="card bg-glass">
          {% if message_error %}
          <div
            style="text-align: center"
            class="alert alert-danger"
            style="white-space: pre-line"
          >
            {{ message_error}}
          </div>
          {% elif message_succ %}
          <div
            style="text-align: center"
            class="alert alert-success"
            style="white-space: pre-line"
          >
            {{ message_succ }}
          </div>

          {% endif %}

          <div class="col-md-7">
            <div class="products-tabs">
              <!-- tab -->

              <div class="product-container">
                <div class="product">
                  <div class="product-img">
                    <img src="/media/{{ product.image1 }}" alt="" />
                  </div>
                </div>
                <div class="product-details">
                  <div class="billing-details">
                    <div class="section-title">
                      <h3 class="title"></h3>
                    </div>
                    <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <input
                          class="input"
                          type="number"
                          name="amount"
                          required
                          min="1"
                          placeholder="Amount"
                        />
                      </div>
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          id="floatingTextarea2"
                          style="height: 100px"
                          placeholder="Shipping Address"
                          name="address"
                        ></textarea>
                      </div>
                      <div class="form-group">
                        <button
                          type="submit"
                          class="btn btn-success btn-block mb-4"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-bag-check-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"
                            />
                          </svg>
                          Order Item
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
