{% extends 'product_temp/base_ecomm.html' %} {% block start %}
<section class="food-menu">
  <!-- <style>
            .background-radial-gradient {
                background-color: hsl(218, 41%, 15%);
                background-image: radial-gradient(650px circle at 0% 0%,
                        hsl(218, 41%, 35%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%),
                    radial-gradient(1250px circle at 100% 100%,
                        hsl(218, 41%, 45%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%);
            }
    
            #radius-shape-1 {
                height: 120px;
                width: 120px;
                top: -60px;
                left: -130px;
                background: radial-gradient(#0bdf7c, #0e48a0);
                overflow: hidden;
            }
    
            #radius-shape-2 {
                border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                bottom: -60px;
                right: -110px;
                width: 300px;
                height: 300px;
                background: radial-gradient(#21427e, #1e71a8);
                overflow: hidden;
            }
    
            .bg-glass {
                background-color: hsla(0, 0%, 100%, 0.9) !important;
                backdrop-filter: saturate(200%) blur(25px);
            }
        </style> -->
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <!-- {% load static %}
                    <img style="width:250px; border-radius:50%;" src="{% static 'img/ecom_logo.jpg' %}" alt="Logo-image"> -->
        <h1 class="my-5 display-5 ls-tight" style="color: black">
          Khalid Electronics <br />
        </h1>
        <!-- <p class="mb-4 opacity-70" style="color:black">
                    "Welcome to our cutting-edge Electronics Emporium, where innovation meets convenience! 🌟

                    Discover a world of electronic wonders at your fingertips. Immerse yourself in the future with our
                    curated selection of
                    gadgets that cater to your every need. 📱💻🎧📷

                    Unleash your potential with the latest smartphones that redefine connectivity. Capture life's
                    precious moments with our
                    state-of-the-art cameras. Elevate your work and play with sleek laptops designed to keep you ahead
                    of the curve. 📸💼

                    Experience audio nirvana with our premium selection of earbuds that bring your music to life. 🎵

                    At Electronics Emporium, we don't just sell devices; we offer you a gateway to an electrifying world
                    of possibilities.
                    Our commitment to quality ensures that you get the best tech experience every time.

                    Shop with us and stay ahead of the game. Your journey into the future starts here. 🚀

                    Explore, discover, and electrify your life with Electronics Emporium today!" ⚡🌐🛒
                </p> -->
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          {% if message_error %}
          <div
            style="text-align: center"
            class="alert alert-danger"
            style="white-space: pre-line"
          >
            {{ message_error}}
          </div>
          {% elif message_succ %}
          <div
            style="text-align: center"
            class="alert alert-success"
            style="white-space: pre-line"
          >
            {{ message_succ }}
          </div>

          {% endif %}

          <div class="card-body px-4 py-5 px-md-5">
            <form method="post">
              {% csrf_token %}
              <div style="display: flex; justify-content: center">
                <div>{{ form }}</div>
              </div>
              <!-- Login button -->
              <div style="text-align: center; margin-top: 20px">
                <button type="submit" class="btn btn-primary">submit</button>
              </div>

              <!---Regitser button-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
